{% extends 'base.html' %}
{% load static %}

{% block title %} Аккаунт {% endblock %}

{% block content %}
  <section class="form-page">
    <h1> Профиль </h1>

    <form method="post" enctype="multipart/form-data" class="content-form">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

      <div class="avatar-container">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар пользователя" class="avatar">
        {% else %}
            <p>Аватар отсутствует</p>
        {% endif %}
      </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-secondary" href="">Отмена</a>
  </form>
</section>
{% endblock %}